<b><i>🗓 {{ date }}</i></b>

<b><u>🏳 {{ coin_currency }}</u></b>

<b>QUOTES</b>

<b>price: </b>{{ price }}
<b>volume_24h: </b>{{ volume_24h }}
<b>volume_change_24h: </b>{{ volume_change_24h }}
<b>percent_change_1h: </b>{{ percent_change_1h }}
<b>percent_change_24h: </b>{{ percent_change_24h }}
<b>percent_change_7d: </b>{{ percent_change_7d }}
<b>percent_change_30d: </b>{{ percent_change_30d }}
<b>percent_change_60d: </b>{{ percent_change_60d }}
<b>percent_change_90d: </b>{{ percent_change_90d }}
